<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://kit.fontawesome.com/07c0bca522.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../static/common.css">
    <title>MyBooks</title>
</head>
<body>
    <nav>
        <div class="page-insert-links">
            <a href="" class="nav-links">HOME</a>
            <a href="" class="nav-links">AUTHORS</a>
            <a href="" class="nav-links">SAGAS</a>
        </div>
        <i class="fa-solid fa-book-open book-icon"></i>
        <div class="page-insert-links">
            <a href="" class="nav-links">ADD BOOK</a>
            <a href="" class="nav-links">ADD AUTHOR</a>
            <a href="" class="nav-links">ADD SAGA</a>
        </div>
    </nav>
</body>
</html>