@import url('https://fonts.googleapis.com/css2?family=Tomorrow:ital,wght@0,400;0,600;1,400;1,600&display=swap');


* {
    margin: 0;
    font-family: 'Tomorrow', sans-serif;
    font-size: 20px;
}

#nav{
    background-color: #203468;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

.page-insert-links {
    display: flex;
    gap: 50px;
}

.book-icon {
    color: white;
    font-size: 40px;
}

.nav-links {
    text-decoration: none;
    color: white;
    transition: transform .2s;
}

.nav-links:hover{
    transform: scale(1.2);
    color: gold;
    cursor: pointer;
}

#footer{
    background-color: #203468;
    color: white;
    /*text-align: center;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#footer-container {
    width: 85%;
}

#text-social-container{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-icon {
    font-size: 25px;
    transition: transform .2s;
    margin-right: 5px;
}

.social-icon:hover {
    color: gold;
    transform: scale(1.2);
}

.copy{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}