<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://kit.fontawesome.com/07c0bca522.js" crossorigin="anonymous"></script>
<!--  <link rel="stylesheet" href="../static/common.css">-->
  <link rel="stylesheet" th:href="@{/css/common.css}">
  <title>MyBooks</title>
</head>
<body>
  <nav th:replace="~{common/common :: nav}"/>
  <main>
    Hola hola hola
  </main>
  <footer th:replace="~{common/common :: footer}"/>
</body>
</html>