<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <title>MyBooks</title>
</head>
<body>
  <main id="main">
    <div id="index-container">
      <h1>WELCOME</h1>
      <h2>What would you like to do?</h2>
      <div class="options">
        <a th:href="@{${'/books/' + year}}" class="options-link">SEE BOOKS</a>
        <a th:href="@{/authors}" class="options-link">SEE AUTHORS</a>
        <a th:href="@{/sagas}" class="options-link">SEE SAGAS</a>
        <a th:href="@{/books/add}" class="options-link">ADD BOOKS</a>
        <a th:href="@{/authors/add}" class="options-link">ADD AUTHORS</a>
        <a th:href="@{/sagas/add}" class="options-link">ADD SAGAS</a>
      </div>
    </div>
  </main>
</body>
</html>